.modal-container {
  max-width: 420px;
  padding: 7px 0 0;
  height: 40.625rem;
  max-height: min(40.625rem, 100% );
  backface-visibility: hidden;
  min-width: min(100%, auto);
}

.modal-header {
  margin-bottom: 7px;
}

.modal-body {
  margin-right: 1.6px;
}

.form-control {
  line-height: 1;
  min-height: 2rem;
}

.popup-forward {
  height: calc(100vh - 60px);
  padding-inline: 40px;
}
