.chat-background {
  background-color: var(--border-color);
  overflow: hidden;
  user-select: none;
}

.chat-background, .chat-background-item {
  position: absolute !important;
  inset: 0;
}

.chat-background-item.pattern {
  background-image: none !important;
  background-size: contain;
  background-repeat: repeat-x;
  background-color: #000 !important;
  display: flex;
  align-items: center;
  justify-content: center;
}

.chat-background-item-color-canvas {
  height: 150%;
  top: -25%;
  margin: 0 !important;
  -webkit-mask-size: cover;
  mask-size: cover;
  -webkit-mask-position: center;
  mask-position: center;
}

@media only screen and (min-width: 1276px) {
  .chat-background-item-scalable {
    margin: -18.5rem 0 -22rem;
    transform: scale(1);
    --transition-standard-easing: cubic-bezier(.4, .0, .2, 1);
    --transition-standard-in-time: .3s;
    --transition-standard-out-time: .25s;
    --transition-standard-out: var(--transition-standard-out-time) var(--transition-standard-easing);
    transition: transform var(--transition-standard-out), opacity var(--transition-standard-out) !important;
    transform-origin: left center;
  }
}

.chat-background-item-canvas {
  --opacity-max: 1;
  opacity: var(--opacity-max);
  position: absolute;
  width: 100%;
}

canvas {
  overflow-clip-margin: content-box;
  overflow: clip;
}
